<div class="nav_a">

  <div class="dropdown">
      <button class="dropdownmain"><mat-icon>reorder</mat-icon></button>
      <button id="dropdownmain1"><mat-icon>keyboard_backspace</mat-icon></button>
      <button id="dropdownmain2"><mat-icon>arrow_back</mat-icon></button>
      <div id="dropdownitems">
        <ul> 
          <li class="up_class" id="op1_mobile"><a href="/" onclick="return false;" class="option_about_mobile">ABOUT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li> <hr class="up_class_hr">
          <li class="up_class" id="op2_mobile"><a href="/" onclick="return false;" class="option_yotang_mobile">YOGA KENTANG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li><hr class="up_class_hr">
          <li class="up_class" id="op3_mobile"><a href="/" >SCHEDULE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></li><hr class="up_class_hr">

          <li class="up1_class" id="op1_1_mobile"><a href="/" >WHAT IS YOGA KENTANG ></a></li> <hr class="up1_class_hr">
          <li class="up1_class" id="op1_2_mobile"><a href="/" >YOGA HEALING ></a></li> <hr class="up1_class_hr">
          <li class="up1_class" id="op1_3_mobile"><a href="/" >INSIDE FLOW ></a></li> <hr class="up1_class_hr">
          <li class="up1_class" id="op1_4_mobile"><a href="/" >AERIAL YOGA ></a></li> <hr class="up1_class_hr">
          <li class="up1_class" id="op1_5_mobile"><a href="/" >FAT BURNING YOGA ></a></li> <hr class="up1_class_hr">

          <li class="up2_class" id="op2_1_mobile"><a href="/" >TUTORIAL ></a></li> <hr class="up2_class_hr">
          <li class="up2_class" id="op2_2_mobile"><a href="/" >BLOG ></a></li> <hr class="up2_class_hr">
          <li class="up2_class" id="op2_3_mobile"><a href="/" onclick="return false;" >YOGA CLASS v</a></li><hr class="op2_3_mobile_hr">
          <li class="up2_class" id="op2_3_mobile_dd_main"><a href="/" onclick="return false;">YOGA CLASS v</a></li> 
            <li class="op2_3_mobile_dd" ><a href="/" >YOGA HEALING</a></li> 
            <li class="op2_3_mobile_dd" ><a href="/" >INSIDE FLOW</a></li>
            <li class="op2_3_mobile_dd" ><a href="/" >AERIAL YOGA</a></li>
            <li class="op2_3_mobile_dd" ><a href="/" >FAT BURNING YOGA</a></li><hr class="up2_class">
        </ul>
      </div>
  </div>

  <ul>
  <li class="left_class"><a href="/" class="option_about">ABOUT</a></li>
  <li class="left_class"><a href="/" class="option_yotang">YOGA KENTANG</a></li>
  <li class="left_class"><a href="/" >SCHEDULE</a></li>

  

  <ul>
      <li class="right_class"><a href="/" class="account">CONTACT US</a></li>
      <li class="right_class">
        <input class="searchform" type="text" placeholder="search">
      </li>
  </ul>


  <ul>
    <li class="center_class"> <a href="/"><img src="assets/img/yotang.png" class="icon_yotang"></a></li>
  </ul>

  
  </ul>
</div>
  


<div class="op1">
  <ul>
    <li class="left_class_hover" id="what"><a href="/" ><b>WHAT IS <br><mark>YOGA KENTANG</mark></b></a></li>
    <li class="left_class_hover"><a href="/" ><b>YOGA HEALING</b></a></li>
    <li class="left_class_hover"><a href="/" ><b>INSIDE FLOW</b></a></li>
    <li class="left_class_hover"><a href="/" ><b>AERIAL YOGA</b></a></li>
    <li class="left_class_hover"><a href="/" ><b>FAT BURNING YOGA</b></a></li></ul>
</div>

<div class="op2">
<ul>
    <li class="left_class_hover"><a href="/" ><b>TUTORIAL</b></a></li>
    <li class="left_class_hover"><a href="/" ><b>BLOG</b></a></li>
    <li class="left_class_hover"><a href="/" ><b>YOGA CLASS</b></a><br>
      <a class="left_class_hover_child" href="/" ><u><b>YOGA HEALING</b></u></a><br>
      <a class="left_class_hover_child" href="/" ><u><b>INSIDE FLOW</b></u></a><br>
      <a class="left_class_hover_child" href="/" ><u><b>AERIAL YOGA</b></u></a><br>
      <a class="left_class_hover_child" href="/" ><u><b>FAT BURNING YOGA</b></u></a><br>
      </ul>
</div>

<br><br><br><br><br><br><br><br><br><br><h1>a<h1>