

.nav_a{
    width:100%;
    height:75px;
    background-color:pink;
    margin:0;
    padding:0;
    position:fixed;
    top:0;

}

.nav_a ul{
    padding:0;
    margin:2px;
}


.nav_a ul li {
    
    margin-left:0px;
    list-style-type: none;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.left_class{
    float:left;
    padding: 30px 0px 15px 10px;
}

.center_class{
    float:right;
    margin-right:20px;
    padding: 0px 0px;
    margin-bottom:0px;
    right:45.4%;
    text-align:left;
    position:absolute;
}

.right_class{
    float:right;
    margin-right:20px;
    padding: 30px 0px;
    margin-bottom:0px;
}

.searchform{
    width:100px;
    height: 9px;
    font-size:13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 15px 0px;
}

.nav_a ul .left_class a, .nav_a ul .right_class a {
    color:whitesmoke;
    text-decoration:none;
    padding:20px 15px 27px 15px;
    margin:10px 10px 20px 10px;
}



.nav_a ul li a:hover{
    color:pink;
    text-decoration:none;
    background-color: whitesmoke;
    margin-top:20px;
}



h1{
    margin:30px 0px;
    text-align:center;
}

.icon_yotang{
    font-size: 80px;
    width: 80px;
    margin-bottom:20px;
    margin-top:0px;
    padding-top:0px;
}



.dropdown, .dropdownmain{
    display:none;
}

#dropdownitems{
    display:none;
    width:80%;
    height:100%;
    background-color:pink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px;
    padding:0;
    position:fixed;
}


#op1{
    display:none;
    width:100%;
    height:100px;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#op2{
    display:none;
    width:90%;
    height:100px;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up_class {
    margin-left:0px;
    list-style-type: none;
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding-left:0px;
    margin-top:20px;
}

.up_class a{
    margin-left:0px;
    list-style-type: none;
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding-left:0px;
    margin-top:20px;
}
@media only screen and (max-width: 1000px) {

    .center_class{
        float:right;
        margin-right:20px;
        padding: 0px 0px;
        margin-bottom:0px;
        right:40%;
        text-align:left;
        position:absolute;
    }
    
}

@media only screen and (max-width: 900px) {

    .center_class{
        float:right;
        margin-right:20px;
        padding: 0px 0px;
        margin-bottom:0px;
        right:37%;
        text-align:left;
        position:absolute;
    }
    
}



@media only screen and (max-width: 830px) {

    .nav_a{
        width:100%;
        height:30px;
        background-color:pink;
        margin:0;
        padding:0;
        position:fixed;
        top:0;
    
    }

    .left_class{
        display:none;
    }
    
    .center_class{
        float:right;
        margin: 0 0;
        padding: 0px 0px;
        margin-bottom:0px;
        text-align:left;
        position:static;
    }
    
    .right_class{
        display:none;
    }

    .icon_yotang{
        font-size: 35px;
        width: 35px;
        margin-bottom:5px;
        margin-top:0px;
        padding-top:0px;
    }

    .dropdown{
        background-color: Transparent;
        border: none;
        outline:none;
        overflow:hidden;
        background-repeat:no-repeat;
        color:white;
        float:left;
        margin:0px;
        padding: 0px;
        display:block;
        height: 30px;
        width:45px;
    }
    
    .dropdownmain{
        width:30px;
        height:30px;
        background-color:transparent;
        margin-bottom: 0px;
        margin-left: 5px;
        padding:0;
        outline:none;
        border:none;
        color:whitesmoke;
        display:block;
    }


    
}