<div class="nav_a">

  <div class="dropdown">
      <button class="dropdownmain"><mat-icon>reorder</mat-icon></button>
      </div>

  <ul>
  <li class="left_class"><a href="/" class="option_about">ABOUT</a></li>
  <li class="left_class"><a href="/" class="option_yotang">YOGA KENTANG</a></li>
  <li class="left_class"><a href="/" >SCHEDULE</a></li>

  

  <ul>
      <li class="right_class"><a href="/" class="account">CONTACT US</a></li>
      <li class="right_class">
        <input class="searchform" type="text" placeholder="search">
      </li>
  </ul>


  <ul>
    <li class="center_class"> <a href="/"><img src="assets/img/yotang.png" class="icon_yotang"></a></li>
  </ul>

  
  </ul>
</div>

<div id="dropdownitems">
<br>
    <ul> 
        <li id="op1_mobile"><a href="/" class="option_about_mobile">ABOUT</a></li> 
        <li id="op2_mobile"><a href="/" class="option_yotang_mobile">YOGA KENTANG</a></li>
        <li id="op3_mobile"><a href="/" >SCHEDULE</a></li>
    </ul>
</div>

<div id="op1">
</div>

<div id="op2">
</div>

<br><br><br><br><br><br><br><br><br><br><h1>a<h1>