<div class="nav_a">
  <ul>
  <li class="left_class"><a href="/" class="shop">SHOP</a></li>
  <li class="left_class"><a href="/" class="about">ABOUT</a></li>

  <div ngbDropdown class="dropdownmaindiv">
      <button class="dropdownmain" ngbDropdownToggle><mat-icon>reorder</mat-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>SHOP</button><br>
        <button ngbDropdownItem>ACCOUNT</button><br>
        <button ngbDropdownItem>ABOUT</button><br>
      </div></div>
  </ul>

  <ul>
      <li class="right_class"><a href="/" class="account">ACCOUNT</a></li>
      <li class="right_class">
        <input class="searchform" type="text" placeholder="Search">
      </li>
  </ul>


  <ul>
    <li class="center_class"> <a href="/" class="icon_yotang">  <mat-icon [inline]="true" svgIcon="yotang_logo"></mat-icon>  </a></li>
  </ul>

</div>


<h1><br><br><br>a<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>a</h1>
